.nav {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  .link {
    font-family: $ff-gothampro;
    font-weight: 500;
  }

  .btn {
    font-family: $ff-gothampro;
    font-weight: 500;
  }
}

