$vp-575:                            575px;
$vp-768:                            768px;
$vp-900:                            900px;
$vp-1280:                           1280px;
$retina-dpi:                        192dpi;
$retina-dppx:                       2dppx;

$trans-default: 0.3s ease;

$ff-gotham:    "Gotham", "Arial", sans-serif;
$ff-gothampro: "Gotham Pro", "Arial", sans-serif;

$color-default-white:#ffffff;
$color-gray: #8F9BB3;
$color-gray-2: #828EAD;
$color-light-3: #E2E4F0;
$color-light-4: #E1E5EB;
$color-blue: #1551E5;
$color-blue-2: #316CFF;
$color-black: #050D23;
$color-black-2: #071435;
$color-gray-3: #77829E;
$color-light-blue: #F2F6FF;
$color-pink: #FF3D71;
$color-pink-2: #FF608A;
$color-light-2: #F2F5F9;
$color-gray-4: #BAC4E0;


